.conteiner__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.card__corpo__detail {
    width: 70%;
    height: auto;
    min-width: 300px;
    text-align:start;
    margin: 2rem auto;
    padding:.8rem;
    li {
        color:white;
        font-weight: bold;
        margin: 1rem 0;
    }
    li img {
        width: 50%;
        height:auto;
        min-width:250px;

    }
}

@media  screen and (max-width:500px) {
    .card__corpo__detail {
        width: 100%;
        li img {
            width: 90%;
            margin: 0 auto;
        }
    }

}